{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

<div class="container  mt-5">

 <div class="card containerProduct">
            <img src="{{asset('uploads/images/' ~ product.image) }}" alt="Photo">
                <div class="card-body">

                    <h5 class="card-title">{{ product.name }}</h5>

                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }} euros</p>
 
                 {% if product.stock > 0 %}
                                   <span class="badge bg-success">Disponible ({{ product.stock }} en stock)</span>
                                     <a class="btn btn-success" href="{{path('app_shopping_cart_add', {'id': product.id})}}">Ajouter au panier</a>
                                {% else %}
                                     <span class="badge bg-danger">Rupture de stock</span>
                                {% endif %}
                {# <a href="{{path('app_shopping_cart_add', {'id': product.id})}}" class="btn btn-success">Ajouter au panier</a> #}

                <a class="btn btn-outline-secondary" style="border:none" href="{{ path('app_home') }}">Retour aux produits</a>
               </div>
</div>

<h2 class="mt-5">Dernier produits ajoutés</h2>

<div class="row">
 {% for product in products %}
               <div class="card">

                 <img src="{{asset('uploads/images/' ~ product.image) }}" alt="Photo">
                 
                     <div class="card-body">

                         <a href="{{ path('app_home_product_show', {'id': product.id} )}}" class="btn btn-outline-primary">Voir produit</a>

                           <h5 class="card-title">{{ product.name }}</h5>

                            <p class="card-text">{{ product.description }}</p>

                             {% if product.stock > 0 %}
                                   <span class="badge bg-success">Disponible ({{ product.stock }} en stock)</span>
                                     <a class="btn btn-success" href="{{path('app_shopping_cart_add', {'id': product.id})}}">Ajouter au panier</a>
                                {% else %}
                                     <span class="badge bg-danger">Rupture de stock</span>
                                {% endif %}
 
                             {# <a href="{{path('app_shopping_cart_add', {'id': product.id})}}" class="btn btn-success">Ajouter au panier</a> #}
               </div>
           </div>
         {% endfor %}


</div>
  </div>
{% endblock %}