{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

<div class="container containerProduct mt-5">

 <div class="card">
                 <img src="{{asset('uploads/images/' ~ product.image) }}" alt="Photo">
                     <div class="card-body">

                           <h5 class="card-title">{{ product.name }}</h5>

                            <p class="card-text">{{ product.description }}</p>
 
                             <a href="" class="btn btn-success">Ajouter au panier</a>
               </div>
               <a class="btn btn-outline-secondary" style="border:none" href="{{ path('app_home') }}">retour à la liste des produits</a>
</div>

  </div>
{% endblock %}