{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
<link rel="stylesheet" href="{{ asset('css/btn.css') }}">
<link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}

<div class="container containerForm">
    <h1>Laisser un commentaire</h1>

    {{ include('review/_form.html.twig') }}
    
    <a class="btn btn-outline-secondary" style="display: block; " href="{{ app.request.headers.get('referer') }}">
    Retour
</a>
</div>
{% endblock %}
