{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}


<div class="container containerRegister"> 

{{ form_start(form) }}
<label for="">Nom du produit</label>
    {{ form_widget(form.name, {attr:{'class': 'form form-control'}}) }}
    <label for="">Description</label>
    {{ form_widget(form.description, {attr:{'class': 'form form-control'}}) }}
    <label for="">Prix</label>
    {{ form_widget(form.price, {attr:{'class': 'form form-control'}}) }}
    {{ form_widget(form.SubCategory, {attr:{'class': 'form form-control'}}) }}
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<div>