{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
<link rel="stylesheet" href="{{ asset('css/btn.css') }}">
{% endblock %}


{% block body %}

<div class="container">
    <h1>Modifier le produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Enregistrer'}) }}

   <a class="btn btn-info" style="font-weight: bold;" href="{{ path('app_product_show', {'slug': product.slug}) }}">Voir le produit</a>

    <a class="btn btn-outline-secondary" style="font-weight: bold;" href="{{ path('app_product_index') }}">rertour à la liste</a>
</div>

{% endblock %}