{% extends 'base.html.twig' %}

{% block title %}Toutes les sous catégories{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
<link rel="stylesheet" href="{{ asset('css/btn.css') }}">
{% endblock %}


{% block body %}

<div class="container">

    <h1>Toutes les sous catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sous-categorie</th>
                <th>Nom de la catégorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sub_category in sub_categories %}
            <tr>
                <td>{{ sub_category.name }}</td>
                <td>{{ sub_category.category.name }}</td>

                <td id="btn">
                    <a class="btn btn-outline-info"
                        href="{{ path('app_sub_category_show', {'id': sub_category.id, 'slug': sub_category.slug}) }}">Afficher</a>
                    <a class="btn btn-warning"
                        href="{{ path('app_sub_category_edit', {'id': sub_category.id, 'slug': sub_category.slug}) }}">Modifier</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_sub_category_new') }}">Create new</a>
</div>

{% endblock %}