{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}">
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
<link rel="stylesheet" href="{{ asset('css/btn.css') }}">
{% endblock %}


{% block body %}

<div class="container">
  <h1>Panier</h1>

  <table class="table table-bordered">
    <tr>
      <th>Produit</th>
      <th>Prix</th>
      <th>Quantité</th>
      <th>Prix total</th>
      <th>Action</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{item.product.name}}</td>
      <td>{{item.product.price}}</td>

      <td><a href="{{ path('app_shopping_cart_delete', {'id': item.product.id}) }}"
          class='text-danger' style="font-weight: bold; font-size: 1.2rem; text-decoration: none;"> - </a>

          {{item.quantity}} 

          <a href="{{ path('app_shopping_cart_add', {'slug': item.product.slug}) }}" 
          class='text-success' style="font-weight: bold; font-size: 1.2rem; text-decoration: none;"> + </a>
      </td>

      <td>{{item.product.price * item.quantity}} €</td>

       <td>
       <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet article du panier ?');" href="{{ path('app_cart_delete_product_id', {'id': item.product.id}) }}"
          class='text-danger' style="text-decoration: none;"> Supprimer du panier  </a>
          </td>

      

         


    </tr>
    {% else %}
    <p class='text-danger' style="font-weight: bold; font-size: 20px;">Votre panier est vide</p>
    {% endfor %}
  </table>

  {% if total > 0 %}
  <h2>Total: {{total}} €</h2>

  <div>
    <a data-turbo="false" href="{{ path('app_order')}}" class="btn btn-primary">Valider la commande</a>
    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer tout le panier ?');" href="{{ path('app_cart_delete') }}" class="btn btn-outline-danger">Supprimer le panier</a>
  </div>
  {% endif %}
</div>
{% endblock %}