{% extends 'base.html.twig' %}

{% block title %}Historique de vos commandes
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}


	<div class='container w-50 m-auto mt-5'>
		<h1>Vos commandes passées</h1>

		{# {{ dump(orders)}} #}
		{% for order in orders %}

			<h2 class="text-primary w-100 m-auto mb-2 mt-5">Commande n°
				{{order.id }}
			</h2>

			<table class="table table-striped w-75 m-auto">
				<tbody>
					<tr>
						<th>Commande effectuée le :</th>
						<th>Produit(s) acheté(s)</th>
					</tr>

					<tr>

						<td class="text-muted">{{ order.createdAt | date('d-m-y H:i')}}</td>

						<td style="font-size: 18px;">{% for orderProduct in order.getOrderProducts() %}	
							{{ orderProduct.getProduct().getName() }} (x{{ orderProduct.getQuantity() }}) <br>
						{% endfor %}
					</td>
				</tr>
			</tbody>
			</table>
		{% endfor %}
	</div>

{% endblock %}
